name: Deploy Azure Web App
on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Publish App
      run: dotnet publish ./CalculatorTest.csproj -c Release -o publish

    - name: Deploy to Azure
      uses: azure/webapps-deploy@v2
      with:
       app-name: CalulatorTest
       slot-name: staging
       publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
       package: ./publish

       
  swap-to-production:
    needs: build-deploy
    runs-on: windows-latest
    environment: production  

    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Swap staging to production
      run: |
        az webapp deployment slot swap \
          --name calulatortest \
          --resource-group Calculator-rg \
          --slot staging \
          --target-slot production
